# compiled output
application/dist
application/node_modules
bootstrap-sncf
assets
generate

# Logs
application/logs
application/*.log
application/npm-debug.log*
application/yarn-debug.log*
application/yarn-error.log*
application/lerna-debug.log*

# OS
.DS_Store

# Tests
application/coverage
application/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
